.body {
    background-color: sandybrown;
    text-align: center;
    color: royalblue;
    font-size: large;
}

.header {
    color: royalblue;
    font-size: large;
}

.listItems {
    font-size: 2rem;
    margin: 3rem;
}

.profilePic {
    border-radius: 50rem;
}

.heroBody {
    display: flex;
}