body {
    background-color: sandybrown;
    text-align: center;
    color: black;
    /* color: royalblue; */
    font-size: large;
}

header {
    background-color: darkseagreen;
    padding: 2rem;
    font-size: large;
}

nav {
    background-color: slateblue;
    padding: .8rem;
}

footer{
    background-color: lightcoral;
    position: fixed;
    bottom: 0;
    width: 100%;
    left: 0;
    padding: 1rem;
}

.listItems {
    font-size: 2rem;
    margin: 3rem;
}

.profilePic {
    border-radius: 50rem;
    height: 35rem;
    width: auto;
}

.picture {
    width: auto;
    height: 18rem;
    padding: 1rem;
}

.heroBody {
    padding: 1.5rem;
    display: flex;
    flex-wrap: wrap;
}

.intro {
    padding: 1rem;
}