body {
    background-color: sandybrown;
    text-align: center;
    color: black;
    /* color: royalblue; */
    font-size: large;
}

header {
    background-color: darkseagreen;
    padding: 2rem;
    font-size: large;
}

nav {
    background-color: slateblue;
    padding: .8rem;
}

footer{
    background-color: lightcoral;
    /* position: fixed; */
    bottom: 0;
    width: 100%;
    left: 0%;
    padding: 1rem;
    margin: 0;
}

.listItems {
    font-size: 2rem;
    margin: 3rem;
}

.profilePic {
    border-radius: 50rem;
    height: 35rem;
    width: auto;
}

.picture {
    width: auto;
    height: 18rem;
    padding: 1rem;
}

.heroBody {
    padding: 1.5rem;
    display: flex;
    flex-wrap: wrap;
    height: 100%;
}

.intro {
    padding: 1rem;
}

.sectionImg {
    height: 16rem;
    border-radius: 3rem;
    margin: 1rem 2rem;
    /* flex: 1%; */
}

.sections {
    display: flex;
    flex-wrap: wrap;
}

.sectionCards {
    flex: 18%;
    background-color: white;
    border-radius: 3rem;
    height: 30rem;
    margin: 1rem;
}

.sectionCards:hover{
    background-color: rgba(128, 128, 128, 0.459);
}